@model System.Data.DataTable

<p>

</p>
<table class="table table-bordered table-striped table-condensed flip-content">
    <tr>
        <th class="btn-danger">
           Öğrenci
        </th>
        <th class="btn-danger">
           Bedel
        </th>
        <th class="btn-danger">
           Bayi
        </th>
       
        <th class="btn-danger"></th>
    </tr>

@foreach (System.Data.DataRow item in Model.Rows) {
    <tr>
        <td>
           @item["StudentID"].ToString()
        </td>
        <td>
           @item["Price"].ToString()
        </td>
        <td>
           @item["Type"].ToString()
        </td>
        <td>
            @item["DealerID"].ToString();
        </td>
        <td>
          
        </td>
    </tr>
}

</table>
