
<div id="side-panel" class="dark bg-img-cover layer-overlay overlay-white-8" data-bg-img="files/ayarlar/leftpanel.png">
    <div class="side-panel-wrap">
        <div id="side-panel-trigger-close" class="side-panel-trigger"><a href="#"><i class="pe-7s-close font-26"></i></a></div>
        <a href="javascript:void(0)"><img src="~/Areas/Web/Content/images/logo-wide.png" alt=""></a>
        <div class="text-center">
            <h5>Eğitim Formu </h5>
        </div>
        <div class="row">
            <h6> Kişisel Bilgileriniz </h6>
            <form id="appointment_form" name="appointment_form" class="mt-10" method="post" action="#">
                <div class="form-group ">
                    <input name="form_name" class="form-control" type="texts" required="" placeholder="Ad Soyad" aria-required="true">
                </div>
                <div class="form-group ">
                    <input name="form_phone" class="form-control required" type="texts" required="" placeholder="Telefon" aria-required="true">

                </div>
                <div class="form-group ">
                    <input name="form_email" class="form-control required email" type="email" placeholder="E-posta" aria-required="true">
                </div>
                <h6> Eğitim Durumunuz </h6>
                <p> Mezuniyetinizi Seçiniz</p>
                <div class="checkbox">
                    <label>
                        <input value="" type="checkbox">
                        Lisans
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input value="" type="checkbox">
                        Yüksek Lisans
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input value="" type="checkbox">
                        Diğer
                    </label>
                </div>
                <div class="form-group ">
                    <input name="form_name" class="form-control" type="texts" required="" placeholder="Lütfen Bölümünüzü Giriniz.." aria-required="true">
                </div>
                <h6>Talep Ettiğiniz Eğitim Seçiniz..</h6>
                <div class="form-group">
                    <select class="form-control">
                        <option>İstediğiniz Eğitimi Seçiniz</option>
                        <option>Eğitim A</option>
                        <option>Eğitim B</option>
                        <option>Eğitim C</option>
                    </select>
                </div>
                <div class="form-group mb-0 mt-10">
                    <input name="form_botcheck" class="form-control" type="hidden" value="">
                    <button type="submit" class="btn btn-default btn-sm" data-loading-text="Lütfen Bekleyiniz...">Gönder</button>
                </div>
            </form>
            <script type="text/javascript">
              $("#quick_contact_form2").validate({
                submitHandler: function(form) {
                  var form_btn = $(form).find('button[type="submit"]');
                  var form_result_div = '#form-result';
                  $(form_result_div).remove();
                  form_btn.before('<div id="form-result" class="alert alert-success" role="alert" style="display: none;"></div>');
                  var form_btn_old_msg = form_btn.html();
                  form_btn.html(form_btn.prop('disabled', true).data("loading-text"));
                  $(form).ajaxSubmit({
                    dataType:  'json',
                    success: function(data) {
                      if( data.status == 'true' ) {
                        $(form).find('.form-control').val('');
                      }
                      form_btn.prop('disabled', false).html(form_btn_old_msg);
                      $(form_result_div).html(data.message).fadeIn('slow');
                      setTimeout(function(){ $(form_result_div).fadeOut('slow') }, 6000);
                    }
                  });
                }
              });
            </script>
        </div>
        <div class="clearfix"></div>
        <div class="side-panel-widget mt-30">
            <div class="widget no-border">
                <ul>
                    <li class="font-14 mb-5"> <i class="fa fa-phone text-theme-colored"></i> <a href="#" class="text-gray"> +90 (322) 234 9 234</a> </li>
                    <li class="font-14 mb-5">  <a href="#" class="text-gray">info@kariyerakedemiadana.com</a> </li>
                </ul>
            </div>
            <p>Copyright &copy;2017 <a href="http://www.onlinesoft.net" target="_blank">Onlinesoft.net</a></p>
        </div>
    </div>
</div>


<!-- Header -->
<header id="header" class="header">
    <div class="header-top bg-theme-color-2 sm-text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="widget no-border m-0">
                        <ul class="list-inline">
                            <li class="m-0 pl-10 pr-10"> <i class="fa fa-phone text-white"></i> <a class="text-white" href="#">123-456-789</a> </li>
                            <li class="m-0 pl-10 pr-10"> <i class="fa fa-envelope-o text-white"></i> <a class="text-white" href="#">info@kariyerakademiadana.com</a> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="widget no-border m-0">
                        <ul class="list-inline text-right sm-text-center">
                            <li>
                                <a href="giris.html" class="text-white">Giriş</a>
                            </li>
                            <li class="text-white">|</li>
                            <li>
                                <a href="kayit_formu.html" class="text-white">Kayıt Ol</a>
                            </li>
                            <li class="text-white">|</li>
                            <li>
                                <a href="#" class="text-white" data-toggle="modal" data-target=".bs-example-modal-sm">Sepet<span> [1]<span></a>
                                <!-- Large modal -->
                                <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog">
                                    <div class="modal-dialog modal-sm">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="text-center">Eğitim <span class="text-theme-color-2">Sepeti</span></h4>
                                            </div>
                                            <div class="modal-body">
                                                <h5 class="text-center">Satın Alınan Eğitimin Adı</h5>
                                                <hr>
                                                <p class="text-center"><img class="text-center" src="~/Areas/Web/Content/files/ayarlar/sepet.jpg"></p>
                                                <p></p>
                                            </div>
                                            <div data-example-id="bordered-table" class="bs-example">
                                                <table class="table table-bordered">
                                                    <tbody>
                                                        <tr> <th class="text-right" scope="row">Ara Toplam:</th>  <td>10.00TL</td>     </tr>
                                                        <tr> <th class="text-right" scope="row">Toplam:</th>  <td>10.00TL</td>     </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                                                <a href="odeme.html" type="target" class="btn btn-primary text-white">Satın Al</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-nav">
        <div class="header-nav-wrapper navbar-scrolltofixed bg-white">
            <div class="container">
                <nav id="menuzord-right" class="menuzord blue no-bg">
                    <a class="menuzord-brand pull-left flip xs-pull-center mb-15" href="#"><img src="~/Areas/Web/Content/files/ayarlar/logom.png" width="220" height="92" alt=""></a>
                    <div id="side-panel-trigger" class="side-panel-trigger">
                        <a href="#"><i class="fa fa-bars font-24 text-gray"></i></a>
                    </div>
                    <ul class="menuzord-menu">
                        <li class="active"><a href="/">Anasayfa</a>
                        <li>
                            <a href="#">Kurumsal</a>
                            <ul class="dropdown">
                                <li><a href="kurumsal_sirket_tarihi.html">Şirket Tarihi</a></li>
                                <li><a href="egitim_kadromuz.html">Eğitim Kadromuz</a></li>
                                <li><a href="referanslar.html">Referanslar</a></li>
                                <li><a href="insan_kaynaklari_formu.html">İnsan Kaynakları</a></li>
                                <li><a href="#">Anketimize Katılın</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Eğitimler</a>
                            <ul class="dropdown">
                                <li>
                                    <a href="#">Bireysel Eğitimler</a>
                                    <ul class="dropdown">
                                        <li><a href="egitim-detay.html"> Bireysel Eğitimler 1</a></li>
                                        <li><a href="egitim-detay.html"> Bireysel Eğitimler 2</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Yüksek Lisans Eğitimleri</a>
                                    <ul class="dropdown">
                                        <li><a href="egitim-detay.html">Ses ve Konuşma Terapisi Yüksek Lisans</a></li>
                                        <li><a href="egitim-detay.html">Yüksek Lisans Eğitimleri 2</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Kurumsal Eğitimler</a>
                                    <ul class="dropdown">
                                        <li><a href="egitim-detay.html">Kurumsal Eğitimler 1</a></li>
                                        <li><a href="egitim-detay.html">Kurumsal Eğitimler 2</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Bayilik</a>
                            <ul class="dropdown">
                                <li><a href="bayilerimiz.html">Bayilerimiz</a></li>
                                <li><a href="bayilik_basvuru_formu.html">Bayilik Başvurusu</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Galeriler</a>
                            <ul class="dropdown">
                                <li><a href="foto_galeri.html">Foto Galeri</a></li>
                                <li><a href="video_galeri.html">Video Galeri</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Blog</a>
                            <ul class="dropdown">
                                <li><a href="blog.html">Blog</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="iletisim.html">İletişim</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>