<div class="col-sm-12 col-md-3">
    <div class="sidebar sidebar-left mt-sm-30">
        <div class="widget">
            <h3 class="widget-title line-bottom"></h3>
            <div class="categories">
                <ul class="list list-border angle-double-right">
                    <li><a href="#"><i class="fa fa-building" aria-hidden="true"></i> Şirket Tarihi</a></li>
                    <li><a href="#"><i class="fa fa-university" aria-hidden="true"></i> Eğitim Kadromuz</a></li>
                    <li><a href="#"><i class="fa fa-align-left" aria-hidden="true"></i> Referanslar</a></li>
                    <li><a href="#"><i class="fa fa-users" aria-hidden="true"></i> İnsan Kaynakları</a></li>
                    <li><a href="#"> <i class="fa fa-check-circle" aria-hidden="true"></i> Anketimize Katılın</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
