
<div class="site-more-features section-white  wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.6s id="site-more-features">
    <div class="container">
        <div class="row">

            <div class="col-sm-12">
                <!-- heading -->
                <h2 class="mt-0 line-height-1 text-center text-uppercase mb-10 text-black-333">BAYİMİZ OLUN, <span class="text-theme-color-2">KAZANÇLI ÇIKIN</span></h2>
            </div>

            <!-- clearfix -->
            <div class="clearfix"></div>

            <div class="col-xs-12 col-sm-12 col-md-4 col-md-push-4">

                <!-- mobile image -->
                <figure class="featured-img">
                    <img src="~/Content/files/ayarlar/computer.png" alt="Image">
                </figure>
                <!-- end -->

            </div>

            <div class="col-xs-12 col-sm-12 col-md-4 col-md-pull-4">

                <!-- feature 1 -->
                <div class="feature align-right">
                    <h5>Prestij Sağlar</h5>
                    <p>Kurumun logosu ile kurumun özel akıllı telefon uygulaması kurum imajını arttırır.</p>
                    <figure>
                        <i class="fa fa-line-chart"></i>
                    </figure>
                </div>

                <!-- feature 2 -->
                <div class="feature align-right move">
                    <h5>Web Yönetim</h5>
                    <p>Size özel yönetim paneli ile istediğiniz filtrelemeyi yapabilir. Tüm birimlerin kendi alt birimlerini kontrol edebilir hale gelir. </p>
                    <figure>
                        <i class="fa fa-laptop"></i>
                    </figure>
                </div>

                <!-- feature 3 -->
                <div class="feature align-right">
                    <h5>Mesaj Kontrolü</h5>
                    <p>
                        Gönderilen tüm mesajlar saklanır.
                        Giden tüm mesajlar okul denetiminde olur.
                    </p>
                    <figure>
                        <i class="fa fa-comments-o"></i>
                    </figure>
                </div>

            </div>

            <div class="col-xs-12 col-sm-12 col-md-4">

                <!-- feature 1 -->
                <div class="feature align-left">
                    <h5>Tasarruf Sağlar</h5>
                    <p>Daha az ücret ile daha fazla zaman kazandırır. Çalışanlarınızı görevlendirip takip edebilirsiniz.</p>
                    <figure>
                        <i class="fa fa-lightbulb-o"></i>
                    </figure>
                </div>

                <!-- feature 2 -->
                <div class="feature align-left move">
                    <h5>Sosyal Etkinlik</h5>
                    <p>
                        Firmanızın etkinliklerinden binlerce kişiyi aynı anda haberdar eder.
                        Resimli bildirimlerinizi de anlık gönderebilirsiniz.
                    </p>
                    <figure>
                        <i class="fa fa-globe"></i>
                    </figure>
                </div>
                <!-- feature 3 -->
                <div class="feature align-left">
                    <h5>Geri Bildirim</h5>
                    <p>Anket bölümü ile hızlı ve kolay geri dönüş almanızı sağlar. Sonuçları excel ya da grafik olarak raporlayabilirsiniz.</p>
                    <figure>
                        <i class="fa fa-history"></i>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>