<section class="divider parallax layer-overlay" data-bg-img="~/Areas/Web/Content/files/ayarlar/sayac.jpg" data-parallax-ratio="0.7">
    <div class="container pt-70 pb-60">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                <div class="funfact text-center">
                    <i class="fa fa-users mt-5 text-white"></i>
                    <h2 data-animation-duration="2000" data-value="476" class="animate-number text-white mt-0 font-38 font-weight-500">0</h2>
                    <h4 class="text-white text-uppercase">Tamamlanan Eğitimler</h4>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                <div class="funfact text-center">
                    <i class="fa fa-book mt-5 text-white"></i>
                    <h2 data-animation-duration="2000" data-value="20" class="animate-number text-white mt-0 font-38 font-weight-500">0</h2>
                    <h4 class="text-white text-uppercase">Eğitim</h4>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                <div class="funfact text-center">
                    <i class="fa fa-home mt-5 text-white"></i>
                    <h2 data-animation-duration="2000" data-value="24" class="animate-number text-white mt-0 font-38 font-weight-500">0</h2>
                    <h4 class="text-white text-uppercase">Devam Eden Eğitim</h4>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                <div class="funfact text-center">
                    <i class="fa  fa-graduation-cap mt-5 text-white"></i>
                    <h2 data-animation-duration="2000" data-value="13250" class="animate-number text-white mt-0 font-38 font-weight-500">0</h2>
                    <h4 class="text-white text-uppercase">Mezun</h4>
                </div>
            </div>
        </div>
    </div>
</section>
