<section class="text-center">
    <div class="container pt-40 pb-0">
        <div class="row">
            <div class="heading-line-bottom mb-10">
                <h2 class="mt-0 line-height-1 text-center text-uppercase mb-10 text-black-333">A<span class="text-theme-color-2">yrıcalıklarımız</span></h2>
            </div>
        </div>
        <div class="row mt-20">
            <div class="row">
                <div class="col-sm-4">
                    <div class="icon-box iconbox-border p-20 iconbox-theme-colored">
                        <a class="icon icon-dark icon-bordered icon-border-effect effect-flat" href="#">
                            <i class="fa fa-book"></i>
                        </a>
                        <h5 class="icon-box-title">Kaliteli ve Bol Doküman</h5>
                        <p class="text-gray">Kariyer Akademi Adana’da kursiyerlerimize eğitim dokümanları ücretsiz olarak verilerek hedefe ulaşmalarında artı avantaj sağlamaktadır.</br></br></p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="icon-box iconbox-border p-20 iconbox-theme-colored">
                        <a class="icon icon-dark icon-bordered icon-rounded icon-border-effect effect-rounded" href="#">
                            <i class="fa fa-align-justify"></i>
                        </a>
                        <h5 class="icon-box-title">Modern Öğrenim Ortamı</h5>
                        <p class="text-gray">Adana Kariyer Akademi’de Eğitimlerimizi modern ve ferah bina, temiz ve nezih mekanları ile kursiyerlerimizin ders çalışma istek ve motivelerini arttıracak ortamlar sunmaktadırlar.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="icon-box iconbox-border p-20 iconbox-theme-colored">
                        <a class="icon icon-dark icon-bordered icon-rounded icon-border-effect effect-rounded" href="#">
                            <i class="fa fa-graduation-cap"></i>
                        </a>
                        <h5 class="icon-box-title">Uzman Öğretim Görevlileri</h5>
                        <p class="text-gray">Adana Kariyer Akademi’de branşında uzman kendini mesleğine adamış, çalışkan, azimli ve özverili öğretim görevlileri görev almaktadır.</br></br></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-20">
            <div class="row">
                <div class="col-sm-4">
                    <div class="icon-box iconbox-border p-20 iconbox-theme-colored">
                        <a class="icon icon-dark icon-bordered icon-border-effect effect-flat" href="#">
                            <i class="fa fa-university"></i>
                        </a>
                        <h5 class="icon-box-title">Devlet Üniversitesi Onaylı Sertifika</h5>
                        <p class="text-gray">Eğitimin Sonunda Sertifikanızı Devlet Üniversitesi Garantisinde Alacaksınız.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="icon-box iconbox-border p-20 iconbox-theme-colored">
                        <a class="icon icon-dark icon-bordered icon-border-effect effect-flat" href="#">
                            <i class="fa fa-desktop"></i>
                        </a>
                        <h5 class="icon-box-title">Tüm Cihazlardan Erişim</h5>
                        <p class="text-gray">Online Eğitimlerimiz Bilgisayar, Tablet yada Akıllı Telefonunuzdan Takip Edebilirsiniz.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="icon-box iconbox-border p-20 iconbox-theme-colored">
                        <a class="icon icon-dark icon-bordered icon-border-effect effect-flat" href="#">
                            <i class="fa fa-cc-visa"></i>
                        </a>
                        <h5 class="icon-box-title">Tüm Kartlara Taksit İmkanı</h5>
                        <p class="text-gray">Eğitimi ve sertifikayı hemen alıp ödemesini taksit-taksit yapabilirsiniz.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="heading-line-bottom mb-10">
            </div>
        </div>
    </div>
</section>
