
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


@{ Html.RenderPartial("Inc_Slider"); }

<section>
    <div class="container pb-0">
        <div class="section-title text-center mb-30">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="mt-0 mb-5">Eğitimlerimiz</h2>
                    <p class="font-16 mt-0">Başlıca Eğitim İçeriklerimiz..</p>
                </div>
            </div>
        </div>
        <div class="row multi-row-clearfix">
            <div class="col-md-12">
                <div class="products">@{

                    Html.RenderAction("getEdu", "Default");
                }
                    
                </div>
            </div>
        </div>
    </div>
</section>
@{ Html.RenderPartial("Inc_Bayi");}
<section id="events" class="divider parallax layer-overlay overlay-dark-8" data-stellar-background-ratio="0.5" data-bg-img="~/Areas/Web/Content/files/ayarlar/3.jpg">
    <div class="container pt-20 pb-10">
        <div class="section-title mb-30">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h2 class="mt-0 line-height-1 text-center mb-10 text-white text-uppercase">Kullanıcı Yorumları</h2>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="row">
                @{ 
                    Html.RenderAction("GetYorum", "Default");
                    }
                
            </div>
        </div>
    </div>
</section>

@{ Html.RenderPartial("Inc_Ayricalik");}

<!-- Divider: Funfact -->
@{Html.RenderPartial("Inc_Sayac"); }


<!-- Section: Gallery -->
<div class="container pt-20 pb-10">
    <div class="section-title text-center">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="mt-0 pb-0 mb-0 text-black text-uppercase">Foto <span class="text-theme-color-2">Galeri</span></h2>
            </div>
        </div>
    </div>
    <div class="section-content">
        <div class="row">
            <!-- Gallery Grid -->
            <div class="owl-carousel-4col" data-nav="true">
                @{ Html.RenderAction("GetFoto","Default"); }
                        
            </div>
            <!-- End Gallery Grid -->
        </div>
    </div>
</div>

<!-- Section: Gallery -->
<div class="container pt-20 pb-10">
    <div class="section-title text-center">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="mt-0 pb-0 mb-0 text-black text-uppercase">Video <span class="text-theme-color-2">Galeri</span></h2>
            </div>
        </div>
    </div>
    <div class="section-content">
        <div class="row">
            <!-- Gallery Grid -->
            <div class="owl-carousel-4col" data-nav="true">
                
                @{ 
                    Html.RenderAction("GetVideo", "Default");
                    }
                
                
                
                
            </div>
            <!-- End Gallery Grid -->
        </div>
    </div>
</div>



<!-- Divider: Clients -->

@{ Html.RenderPartial("Inc_Universite");}
  </div>
<!-- end main-content -->

