
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Web/Views/Shared/_Layout.cshtml";
}

<div class="main-content">
    <!-- Section: home -->
    <section id="home">

        <!-- Slider Revolution Start -->
        <div class="rev_slider_wrapper">
            <div class="rev_slider" data-version="5.0">
                <ul>
                    
                    <!-- SLIDE 1 -->
                    <li data-index="rs-1" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="~/Areas/Web/Content/files/slider/1.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide 1" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="~/Areas/Web/Content/files/slider/1.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="10" data-no-retina>
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption tp-resizeme text-uppercase text-white font-raleway"
                             id="rs-1-layer-1"
                             data-x="['left']"
                             data-hoffset="['30']"
                             data-y="['middle']"
                             data-voffset="['-110']"
                             data-fontsize="['100']"
                             data-lineheight="['110']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;s:500"
                             data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                             data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                             data-start="1000"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 7; white-space: nowrap; font-weight:700;">
                            Education
                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption tp-resizeme text-uppercase text-white font-raleway bg-theme-colored-transparent border-left-theme-color-2-6px pl-20 pr-20"
                             id="rs-1-layer-2"
                             data-x="['left']"
                             data-hoffset="['35']"
                             data-y="['middle']"
                             data-voffset="['-25']"
                             data-fontsize="['35']"
                             data-lineheight="['54']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;s:500"
                             data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                             data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                             data-start="1000"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 7; white-space: nowrap; font-weight:600;">
                            Education For EveryOne
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption tp-resizeme text-white"
                             id="rs-1-layer-3"
                             data-x="['left']"
                             data-hoffset="['35']"
                             data-y="['middle']"
                             data-voffset="['35']"
                             data-fontsize="['16']"
                             data-lineheight="['28']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;s:500"
                             data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                             data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                             data-start="1400"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 5; white-space: nowrap; letter-spacing:0px; font-weight:400;">
                            We provides always our best services for our clients and  always<br> try to achieve our client's trust and satisfaction.
                        </div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption tp-resizeme"
                             id="rs-1-layer-4"
                             data-x="['left']"
                             data-hoffset="['35']"
                             data-y="['middle']"
                             data-voffset="['100']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"
                             data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                             data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                             data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                             data-start="1400"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 5; white-space: nowrap; letter-spacing:1px;">
                            <a class="btn btn-colored btn-lg btn-flat btn-theme-colored border-left-theme-color-2-6px pl-20 pr-20" href="#">View Details</a>
                        </div>
                    </li>
                    
                    <!-- SLIDE 2 -->
                    <li data-index="rs-2" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="~/Areas/Web/Content/files/slider/2.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide 2" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="~/Areas/Web/Content/files/slider/2.jpg" alt="" data-bgposition="center 40%" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="10" data-no-retina>
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption tp-resizeme text-uppercase  bg-theme-colored-transparent text-white font-raleway border-left-theme-color-2-6px border-right-theme-color-2-6px pl-30 pr-30"
                             id="rs-2-layer-1"
                             data-x="['center']"
                             data-hoffset="['0']"
                             data-y="['middle']"
                             data-voffset="['-90']"
                             data-fontsize="['28']"
                             data-lineheight="['54']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;s:500"
                             data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                             data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                             data-start="1000"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 7; white-space: nowrap; font-weight:400; border-radius: 30px;">
                            Feed Your Knowledge
                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption tp-resizeme text-uppercase bg-theme-colored-transparent text-white font-raleway pl-30 pr-30"
                             id="rs-2-layer-2"
                             data-x="['center']"
                             data-hoffset="['0']"
                             data-y="['middle']"
                             data-voffset="['-20']"
                             data-fontsize="['48']"
                             data-lineheight="['70']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;s:500"
                             data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                             data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                             data-start="1000"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 7; white-space: nowrap; font-weight:700; border-radius: 30px;">
                            World's Best University
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption tp-resizeme text-white text-center"
                             id="rs-2-layer-3"
                             data-x="['center']"
                             data-hoffset="['0']"
                             data-y="['middle']"
                             data-voffset="['50']"
                             data-fontsize="['16']"
                             data-lineheight="['28']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;s:500"
                             data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                             data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                             data-start="1400"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 5; white-space: nowrap; letter-spacing:0px; font-weight:400;">
                            We provides always our best services for our clients and  always<br> try to achieve our client's trust and satisfaction.
                        </div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption tp-resizeme"
                             id="rs-2-layer-4"
                             data-x="['center']"
                             data-hoffset="['0']"
                             data-y="['middle']"
                             data-voffset="['115']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"
                             data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                             data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                             data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                             data-start="1400"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 5; white-space: nowrap; letter-spacing:1px;">
                            <a class="btn btn-default btn-circled btn-transparent pl-20 pr-20" href="#">Apply Now</a>
                        </div>
                    </li>

                    <!-- SLIDE 3 -->
                    <li data-index="rs-3" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="~/Areas/Web/Content/files/slider/3.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide 3" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="~/Areas/Web/Content/files/slider/3.jpg" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="10" data-no-retina>
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption tp-resizeme text-uppercase text-white font-raleway bg-theme-colored-transparent border-right-theme-color-2-6px pr-20 pl-20"
                             id="rs-3-layer-1"
                             data-x="['right']"
                             data-hoffset="['30']"
                             data-y="['middle']"
                             data-voffset="['-90']"
                             data-fontsize="['64']"
                             data-lineheight="['72']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;s:500"
                             data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                             data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                             data-start="1000"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 7; white-space: nowrap; font-weight:600;">
                            Best Education
                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption tp-resizeme text-uppercase text-white font-raleway"
                             id="rs-3-layer-2"
                             data-x="['right']"
                             data-hoffset="['35']"
                             data-y="['middle']"
                             data-voffset="['-25']"
                             data-fontsize="['32']"
                             data-lineheight="['54']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;s:500"
                             data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                             data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                             data-start="1000"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 7; white-space: nowrap; font-weight:600;">
                            For Your Better Future
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption tp-resizeme text-white text-right"
                             id="rs-3-layer-3"
                             data-x="['right']"
                             data-hoffset="['35']"
                             data-y="['middle']"
                             data-voffset="['30']"
                             data-fontsize="['16']"
                             data-lineheight="['28']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;s:500"
                             data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                             data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                             data-start="1400"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 5; white-space: nowrap; letter-spacing:0px; font-weight:400;">
                            We provides always our best services for our clients and  always<br> try to achieve our client's trust and satisfaction.
                        </div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption tp-resizeme"
                             id="rs-3-layer-4"
                             data-x="['right']"
                             data-hoffset="['35']"
                             data-y="['middle']"
                             data-voffset="['95']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"
                             data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                             data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                             data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                             data-start="1400"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 5; white-space: nowrap; letter-spacing:1px;">
                            <a class="btn btn-colored btn-lg btn-flat btn-theme-colored btn-theme-colored border-right-theme-color-2-6px pl-20 pr-20" href="#">Apply Now</a>
                        </div>
                    </li>

                </ul>
            </div>
            <!-- end .rev_slider -->
        </div>
        <!-- end .rev_slider_wrapper -->
        <script>
        $(document).ready(function(e) {
          $(".rev_slider").revolution({
            sliderType:"standard",
            sliderLayout: "auto",
            dottedOverlay: "none",
            delay: 5000,
            navigation: {
                keyboardNavigation: "off",
                keyboard_direction: "horizontal",
                mouseScrollNavigation: "off",
                onHoverStop: "off",
                touch: {
                    touchenabled: "on",
                    swipe_threshold: 75,
                    swipe_min_touches: 1,
                    swipe_direction: "horizontal",
                    drag_block_vertical: false
                },
              arrows: {
                style:"zeus",
                enable:true,
                hide_onmobile:true,
                hide_under:600,
                hide_onleave:true,
                hide_delay:200,
                hide_delay_mobile:1200,
                tmp:'<div class="tp-title-wrap">    <div class="tp-arr-imgholder"></div> </div>',
                left: {
                  h_align:"left",
                  v_align:"center",
                  h_offset:30,
                  v_offset:0
                },
                right: {
                  h_align:"right",
                  v_align:"center",
                  h_offset:30,
                  v_offset:0
                }
              },
              bullets: {
                enable:true,
                hide_onmobile:true,
                hide_under:600,
                style:"metis",
                hide_onleave:true,
                hide_delay:200,
                hide_delay_mobile:1200,
                direction:"horizontal",
                h_align:"center",
                v_align:"bottom",
                h_offset:0,
                v_offset:30,
                space:5,
                tmp:'<span class="tp-bullet-img-wrap">  <span class="tp-bullet-image"></span></span><span class="tp-bullet-title">{{title}}</span>'
              }
            },
            responsiveLevels: [1240, 1024, 778],
            visibilityLevels: [1240, 1024, 778],
            gridwidth: [1170, 1024, 778, 480],
            gridheight: [650, 768, 960, 720],
            lazyType: "none",
            parallax: {
                origo: "slidercenter",
                speed: 1000,
                levels: [5, 10, 15, 20, 25, 30, 35, 40, 45, 46, 47, 48, 49, 50, 100, 55],
                type: "scroll"
            },
            shadow: 0,
            spinner: "off",
            stopLoop: "on",
            stopAfterLoops: 0,
            stopAtSlide: -1,
            shuffle: "off",
            autoHeight: "off",
            fullScreenAutoWidth: "off",
            fullScreenAlignForce: "off",
            fullScreenOffsetContainer: "",
            fullScreenOffset: "0",
            hideThumbsOnMobile: "off",
            hideSliderAtLimit: 0,
            hideCaptionAtLimit: 0,
            hideAllCaptionAtLilmit: 0,
            debugMode: false,
            fallbacks: {
                simplifyAll: "off",
                nextSlideOnWindowFocus: "off",
                disableFocusListener: false,
            }
          });
        });
        </script>
        <!-- Slider Revolution Ends -->

    </section>


    <section>
        <div class="container pb-0">
            <div class="section-title text-center mb-30">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="mt-0 mb-5">Eğitimlerimiz</h2>
                        <p class="font-16 mt-0">Başlıca Eğitim İçeriklerimiz..</p>
                    </div>
                </div>
            </div>
            <div class="row multi-row-clearfix">
                <div class="col-md-12">
                    <div class="products">
                        <div class="col-sm-6 col-md-4 col-lg-3 mb-30">
                            <div class="product">
                                <div class="product-thumb">
                                    <img src="~/Areas/Web/Content/files/ayarlar/285x300.png" class="img-responsive img-fullwidth">
                                    <div class="overlay">
                                        <div class="btn-add-to-cart-wrapper">
                                            <a class="btn btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="#">Sepete Ekle</a>
                                        </div>
                                        <div class="btn-product-view-details">
                                            <a class="btn btn-default btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="#">Detay</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-details text-center">
                                    <a href="#"><h5 class="product-title">Eğitimler</h5></a>

                                    <div class="price"><del><span class="amount">110.00 TL</span></del><ins><span class="amount">90.00 TL</span></ins></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3 mb-30">
                            <div class="product">
                                <div class="product-thumb">
                                    <img src="~/Areas/Web/Content/files/ayarlar/285x300.png" class="img-responsive img-fullwidth">
                                    <div class="overlay">
                                        <div class="btn-add-to-cart-wrapper">
                                            <a class="btn btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="#">Sepete Ekle</a>
                                        </div>
                                        <div class="btn-product-view-details">
                                            <a class="btn btn-default btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="urun-detay.html">Detay</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-details text-center">
                                    <a href="#"><h5 class="product-title">Eğitimler</h5></a>
                                    <div class="star-rating" title="Rated 3.50 out of 5"><span style="width: 87%;">4.50</span></div>
                                    <div class="price"><del><span class="amount">110.00 TL</span></del><ins><span class="amount">90.00 TL</span></ins></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3 mb-30">
                            <div class="product">
                                <span class="tag-sale">İndirimli</span>
                                <div class="product-thumb">
                                    <img src="~/Areas/Web/Content/files/ayarlar/285x300.png" class="img-responsive img-fullwidth">
                                    <div class="overlay">
                                        <div class="btn-add-to-cart-wrapper">
                                            <a class="btn btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="#">Sepete Ekle</a>
                                        </div>
                                        <div class="btn-product-view-details">
                                            <a class="btn btn-default btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="urun-detay.html">Detay</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-details text-center">
                                    <a href="#"><h5 class="product-title">Eğitimler</h5></a>
                                    <div class="star-rating" title="Rated 3.50 out of 5"><span style="width: 87%;">4.50</span></div>
                                    <div class="price"><del><span class="amount">110.00 TL</span></del><ins><span class="amount">90.00 TL</span></ins></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3 mb-30">
                            <div class="product">
                                <div class="product-thumb">
                                    <img src="~/Areas/Web/Content/files/ayarlar/285x300.png" class="img-responsive img-fullwidth">
                                    <div class="overlay">
                                        <div class="btn-add-to-cart-wrapper">
                                            <a class="btn btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="#">Sepete Ekle</a>
                                        </div>
                                        <div class="btn-product-view-details">
                                            <a class="btn btn-default btn-theme-colored btn-sm btn-flat pl-20 pr-20 btn-add-to-cart text-uppercase font-weight-700" href="urun-detay.html">Detay</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-details text-center">
                                    <a href="#"><h5 class="product-title">Eğitimler</h5></a>
                                    <div class="star-rating" title="Rated 3.50 out of 5"><span style="width: 87%;">4.50</span></div>
                                    <div class="price"><del><span class="amount">110.00 TL</span></del><ins><span class="amount">90.00 TL</span></ins></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- MORE FEATURES -->

    <div class="site-more-features section-white  wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.6s id="site-more-features">
        <div class="container">
            <div class="row">

                <div class="col-sm-12">
                    <!-- heading -->
                    <h2 class="mt-0 line-height-1 text-center text-uppercase mb-10 text-black-333">BAYİMİZ OLUN, <span class="text-theme-color-2">KAZANÇLI ÇIKIN</span></h2>
                </div>

                <!-- clearfix -->
                <div class="clearfix"></div>

                <div class="col-xs-12 col-sm-12 col-md-4 col-md-push-4">

                    <!-- mobile image -->
                    <figure class="featured-img">
                        <img src="~/Areas/Web/Content/files/ayarlar/computer.png" alt="Image">
                    </figure>
                    <!-- end -->

                </div>

                <div class="col-xs-12 col-sm-12 col-md-4 col-md-pull-4">

                    <!-- feature 1 -->
                    <div class="feature align-right">
                        <h5>Prestij Sağlar</h5>
                        <p>Kurumun logosu ile kurumun özel akıllı telefon uygulaması kurum imajını arttırır.</p>
                        <figure>
                            <i class="fa fa-line-chart"></i>
                        </figure>
                    </div>

                    <!-- feature 2 -->
                    <div class="feature align-right move">
                        <h5>Web Yönetim</h5>
                        <p>Size özel yönetim paneli ile istediğiniz filtrelemeyi yapabilir. Tüm birimlerin kendi alt birimlerini kontrol edebilir hale gelir. </p>
                        <figure>
                            <i class="fa fa-laptop"></i>
                        </figure>
                    </div>

                    <!-- feature 3 -->
                    <div class="feature align-right">
                        <h5>Mesaj Kontrolü</h5>
                        <p>
                            Gönderilen tüm mesajlar saklanır.
                            Giden tüm mesajlar okul denetiminde olur.
                        </p>
                        <figure>
                            <i class="fa fa-comments-o"></i>
                        </figure>
                    </div>

                </div>

                <div class="col-xs-12 col-sm-12 col-md-4">

                    <!-- feature 1 -->
                    <div class="feature align-left">
                        <h5>Tasarruf Sağlar</h5>
                        <p>Daha az ücret ile daha fazla zaman kazandırır. Çalışanlarınızı görevlendirip takip edebilirsiniz.</p>
                        <figure>
                            <i class="fa fa-lightbulb-o"></i>
                        </figure>
                    </div>

                    <!-- feature 2 -->
                    <div class="feature align-left move">
                        <h5>Sosyal Etkinlik</h5>
                        <p>
                            Firmanızın etkinliklerinden binlerce kişiyi aynı anda haberdar eder.
                            Resimli bildirimlerinizi de anlık gönderebilirsiniz.
                        </p>
                        <figure>
                            <i class="fa fa-globe"></i>
                        </figure>
                    </div>
                    <!-- feature 3 -->
                    <div class="feature align-left">
                        <h5>Geri Bildirim</h5>
                        <p>Anket bölümü ile hızlı ve kolay geri dönüş almanızı sağlar. Sonuçları excel ya da grafik olarak raporlayabilirsiniz.</p>
                        <figure>
                            <i class="fa fa-history"></i>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Section: events -->
    <section id="events" class="divider parallax layer-overlay overlay-dark-8" data-stellar-background-ratio="0.5" data-bg-img="~/Areas/Web/Content/files/ayarlar/3.jpg">
        <div class="container pt-20 pb-10">
            <div class="section-title mb-30">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <h2 class="mt-0 line-height-1 text-center mb-10 text-white text-uppercase">Kullanıcı Yorumları</h2>
                    </div>
                </div>
            </div>
            <div class="section-content">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 mb-30 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                        <div class="pricing table-horizontal maxwidth400">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="thumb">
                                        <img class="img-fullwidth mb-sm-0" src="~/Areas/Web/Content/files/ayarlar/yorumprofilfoto/as7.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6 p-30 pl-sm-50">
                                    <h4 class="mt-0 mb-5"><a href="#" class="text-white">Kullanıcı Adı <span> Soyadı </span></a></h4>
                                    <ul class="list-inline mb-5 text-white">
                                        <li class="pr-0"><i class="fa fa-calendar mr-5"></i> 18 / 05 /2017 |</li>
                                        <li class="pl-5"><i class="fa fa-map-marker mr-5"></i>Gaziantep</li>
                                    </ul>
                                    <p class="mb-15 mt-15 text-white">Lorem ipsum dolor sit amet, consectetur adi isicing elit. Quas eveniet, nemo dicta. Ullam nam.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 mb-30 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                        <div class="pricing table-horizontal maxwidth400">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="thumb">
                                        <img class="img-fullwidth mb-sm-0" src="~/Areas/Web/Content/files/ayarlar/yorumprofilfoto/as7.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6 p-30 pl-sm-50">
                                    <h4 class="mt-0 mb-5"><a href="#" class="text-white">Kullanıcı Adı <span> Soyadı </span></a></h4>
                                    <ul class="list-inline mb-5 text-white">
                                        <li class="pr-0"><i class="fa fa-calendar mr-5"></i> 18 / 05 /2017 |</li>
                                        <li class="pl-5"><i class="fa fa-map-marker mr-5"></i>Gaziantep</li>
                                    </ul>
                                    <p class="mb-15 mt-15 text-white">Lorem ipsum dolor sit amet, consectetur adi isicing elit. Quas eveniet, nemo dicta. Ullam nam.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="text-center">
        <div class="container pt-40 pb-0">
            <div class="row">
                <div class="heading-line-bottom mb-10">
                    <h2 class="mt-0 line-height-1 text-center text-uppercase mb-10 text-black-333">A<span class="text-theme-color-2">yrıcalıklarımız</span></h2>
                </div>
            </div>
            <div class="row mt-20">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="icon-box iconbox-border p-20 iconbox-theme-colored">
                            <a class="icon icon-dark icon-bordered icon-border-effect effect-flat" href="#">
                                <i class="fa fa-book"></i>
                            </a>
                            <h5 class="icon-box-title">Kaliteli ve Bol Doküman</h5>
                            <p class="text-gray">Kariyer Akademi Adana’da kursiyerlerimize eğitim dokümanları ücretsiz olarak verilerek hedefe ulaşmalarında artı avantaj sağlamaktadır.</br></br></p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="icon-box iconbox-border p-20 iconbox-theme-colored">
                            <a class="icon icon-dark icon-bordered icon-rounded icon-border-effect effect-rounded" href="#">
                                <i class="fa fa-align-justify"></i>
                            </a>
                            <h5 class="icon-box-title">Modern Öğrenim Ortamı</h5>
                            <p class="text-gray">Adana Kariyer Akademi’de Eğitimlerimizi modern ve ferah bina, temiz ve nezih mekanları ile kursiyerlerimizin ders çalışma istek ve motivelerini arttıracak ortamlar sunmaktadırlar.</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="icon-box iconbox-border p-20 iconbox-theme-colored">
                            <a class="icon icon-dark icon-bordered icon-rounded icon-border-effect effect-rounded" href="#">
                                <i class="fa fa-graduation-cap"></i>
                            </a>
                            <h5 class="icon-box-title">Uzman Öğretim Görevlileri</h5>
                            <p class="text-gray">Adana Kariyer Akademi’de branşında uzman kendini mesleğine adamış, çalışkan, azimli ve özverili öğretim görevlileri görev almaktadır.</br></br></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-20">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="icon-box iconbox-border p-20 iconbox-theme-colored">
                            <a class="icon icon-dark icon-bordered icon-border-effect effect-flat" href="#">
                                <i class="fa fa-university"></i>
                            </a>
                            <h5 class="icon-box-title">Devlet Üniversitesi Onaylı Sertifika</h5>
                            <p class="text-gray">Eğitimin Sonunda Sertifikanızı Devlet Üniversitesi Garantisinde Alacaksınız.</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="icon-box iconbox-border p-20 iconbox-theme-colored">
                            <a class="icon icon-dark icon-bordered icon-border-effect effect-flat" href="#">
                                <i class="fa fa-desktop"></i>
                            </a>
                            <h5 class="icon-box-title">Tüm Cihazlardan Erişim</h5>
                            <p class="text-gray">Online Eğitimlerimiz Bilgisayar, Tablet yada Akıllı Telefonunuzdan Takip Edebilirsiniz.</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="icon-box iconbox-border p-20 iconbox-theme-colored">
                            <a class="icon icon-dark icon-bordered icon-border-effect effect-flat" href="#">
                                <i class="fa fa-cc-visa"></i>
                            </a>
                            <h5 class="icon-box-title">Tüm Kartlara Taksit İmkanı</h5>
                            <p class="text-gray">Eğitimi ve sertifikayı hemen alıp ödemesini taksit-taksit yapabilirsiniz.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="heading-line-bottom mb-10">
                </div>
            </div>
        </div>
    </section>

    <!-- Divider: Funfact -->
    <section class="divider parallax layer-overlay" data-bg-img="~/Areas/Web/Content/files/ayarlar/sayac.jpg" data-parallax-ratio="0.7">
        <div class="container pt-70 pb-60">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                    <div class="funfact text-center">
                        <i class="fa fa-users mt-5 text-white"></i>
                        <h2 data-animation-duration="2000" data-value="476" class="animate-number text-white mt-0 font-38 font-weight-500">0</h2>
                        <h4 class="text-white text-uppercase">Tamamlanan Eğitimler</h4>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                    <div class="funfact text-center">
                        <i class="fa fa-book mt-5 text-white"></i>
                        <h2 data-animation-duration="2000" data-value="20" class="animate-number text-white mt-0 font-38 font-weight-500">0</h2>
                        <h4 class="text-white text-uppercase">Eğitim</h4>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                    <div class="funfact text-center">
                        <i class="fa fa-home mt-5 text-white"></i>
                        <h2 data-animation-duration="2000" data-value="24" class="animate-number text-white mt-0 font-38 font-weight-500">0</h2>
                        <h4 class="text-white text-uppercase">Devam Eden Eğitim</h4>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                    <div class="funfact text-center">
                        <i class="fa  fa-graduation-cap mt-5 text-white"></i>
                        <h2 data-animation-duration="2000" data-value="13250" class="animate-number text-white mt-0 font-38 font-weight-500">0</h2>
                        <h4 class="text-white text-uppercase">Mezun</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Section: Gallery -->
    <div class="container pt-20 pb-10">
        <div class="section-title text-center">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="mt-0 pb-0 mb-0 text-black text-uppercase">Foto <span class="text-theme-color-2">Galeri</span></h2>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="row">
                <!-- Gallery Grid -->
                <div class="owl-carousel-4col" data-nav="true">
                    <div class="item">
                        <div class="work-gallery">
                            <div class="gallery-thumb">
                                <img class="img-fullwidth" alt="" src="~/Areas/Web/Content/files/galeri/1.jpg">
                                <div class="gallery-overlay"></div>
                                <div class="gallery-contect">
                                    <ul class="styled-icons icon-bordered icon-circled icon-sm">
                                        <li><a href="#"><i class="fa fa-link"></i></a></li>
                                        <li><a data-rel="prettyPhoto" href="~/Areas/Web/Content/files/galeri/1.jpg"><i class="fa fa-arrows"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="gallery-bottom-part text-center">
                                <h4 class="title text-uppercase font-opensans font-weight-600 m-0">Foto Adı Başlık</h4>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="work-gallery">
                            <div class="gallery-thumb">
                                <img class="img-fullwidth" alt="" src="~/Areas/Web/Content/files/galeri/1.jpg">
                                <div class="gallery-overlay"></div>
                                <div class="gallery-contect">
                                    <ul class="styled-icons icon-bordered icon-circled icon-sm">
                                        <li><a href="#"><i class="fa fa-link"></i></a></li>
                                        <li><a data-rel="prettyPhoto" href="~/Areas/Web/Content/files/galeri/1.jpg"><i class="fa fa-arrows"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="gallery-bottom-part text-center">
                                <h4 class="title text-uppercase font-opensans font-weight-600 m-0">Foto Adı Başlık</h4>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="work-gallery">
                            <div class="gallery-thumb">
                                <img class="img-fullwidth" alt="" src="~/Areas/Web/Content/files/galeri/1.jpg">
                                <div class="gallery-overlay"></div>
                                <div class="gallery-contect">
                                    <ul class="styled-icons icon-bordered icon-circled icon-sm">
                                        <li><a href="#"><i class="fa fa-link"></i></a></li>
                                        <li><a data-rel="prettyPhoto" href="~/Areas/Web/Content/files/galeri/1.jpg"><i class="fa fa-arrows"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="gallery-bottom-part text-center">
                                <h4 class="title text-uppercase font-opensans font-weight-600 m-0">Foto Adı Başlık</h4>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="work-gallery">
                            <div class="gallery-thumb">
                                <img class="img-fullwidth" alt="" src="~/Areas/Web/Content/files/galeri/1.jpg">
                                <div class="gallery-overlay"></div>
                                <div class="gallery-contect">
                                    <ul class="styled-icons icon-bordered icon-circled icon-sm">
                                        <li><a href="#"><i class="fa fa-link"></i></a></li>
                                        <li><a data-rel="prettyPhoto" href="~/Areas/Web/Content/files/galeri/1.jpg"><i class="fa fa-arrows"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="gallery-bottom-part text-center">
                                <h4 class="title text-uppercase font-opensans font-weight-600 m-0">Foto Adı Başlık</h4>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="work-gallery">
                            <div class="gallery-thumb">
                                <img class="img-fullwidth" alt="" src="~/Areas/Web/Content/files/galeri/1.jpg">
                                <div class="gallery-overlay"></div>
                                <div class="gallery-contect">
                                    <ul class="styled-icons icon-bordered icon-circled icon-sm">
                                        <li><a href="#"><i class="fa fa-link"></i></a></li>
                                        <li><a data-rel="prettyPhoto" href="~/Areas/Web/Content/files/galeri/1.jpg"><i class="fa fa-arrows"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="gallery-bottom-part text-center">
                                <h4 class="title text-uppercase font-opensans font-weight-600 m-0">Foto Adı Başlık</h4>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="work-gallery">
                            <div class="gallery-thumb">
                                <img class="img-fullwidth" alt="" src="~/Areas/Web/Content/files/galeri/1.jpg">
                                <div class="gallery-overlay"></div>
                                <div class="gallery-contect">
                                    <ul class="styled-icons icon-bordered icon-circled icon-sm">
                                        <li><a href="#"><i class="fa fa-link"></i></a></li>
                                        <li><a data-rel="prettyPhoto" href="~/Areas/Web/Content/files/galeri/1.jpg"><i class="fa fa-arrows"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="gallery-bottom-part text-center">
                                <h4 class="title text-uppercase font-opensans font-weight-600 m-0">Foto Adı Başlık</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Gallery Grid -->
            </div>
        </div>
    </div>

    <!-- Section: Gallery -->
    <div class="container pt-20 pb-10">
        <div class="section-title text-center">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="mt-0 pb-0 mb-0 text-black text-uppercase">Video <span class="text-theme-color-2">Galeri</span></h2>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="row">
                <!-- Gallery Grid -->
                <div class="owl-carousel-4col" data-nav="true">
                    <div class="item">
                        <div class="work-gallery">
                            <div class="gallery-thumb">
                                <iframe width="290" height="180" src="https://www.youtube.com/embed/e_qayLHJGBw" frameborder="0" allowfullscreen></iframe>
                                <div class="gallery-overlay"></div>
                                <div class="gallery-contect">
                                    <ul class="styled-icons icon-bordered icon-circled icon-sm">
                                        <li><a data-rel="prettyPhoto" href="https://www.youtube.com/watch?v=e_qayLHJGBw&feature=youtu.be"><i class="fa fa-arrows"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="gallery-bottom-part text-center">
                                <h4 class="title text-uppercase font-opensans font-weight-600 m-0">Video Adı Başlık</h4>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="work-gallery">
                            <div class="gallery-thumb">
                                <iframe width="290" height="180" src="https://www.youtube.com/embed/Bwg4dLTxKMo?ecver=1" frameborder="0" allowfullscreen></iframe>
                                <div class="gallery-overlay"></div>
                                <div class="gallery-contect">
                                    <ul class="styled-icons icon-bordered icon-circled icon-sm">
                                        <li><a data-rel="prettyPhoto" href="https://www.youtube.com/watch?v=Bwg4dLTxKMo&feature=youtu.be"><i class="fa fa-arrows"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="gallery-bottom-part text-center">
                                <h4 class="title text-uppercase font-opensans font-weight-600 m-0">Video Adı Başlık</h4>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="work-gallery">
                            <div class="gallery-thumb">
                                <iframe width="290" height="180" src="https://www.youtube.com/embed/PbwRLgQIHEk?ecver=1" frameborder="0" allowfullscreen></iframe>
                                <div class="gallery-overlay"></div>
                                <div class="gallery-contect">
                                    <ul class="styled-icons icon-bordered icon-circled icon-sm">
                                        <li><a data-rel="prettyPhoto" href="https://www.youtube.com/watch?v=PbwRLgQIHEk&feature=youtu.be"><i class="fa fa-arrows"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="gallery-bottom-part text-center">
                                <h4 class="title text-uppercase font-opensans font-weight-600 m-0">Video Adı Başlık</h4>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="work-gallery">
                            <div class="gallery-thumb">
                                <iframe width="290" height="180" src="https://www.youtube.com/embed/36R2AoPFLmQ?ecver=1" frameborder="0" allowfullscreen></iframe>
                                <div class="gallery-overlay"></div>
                                <div class="gallery-contect">
                                    <ul class="styled-icons icon-bordered icon-circled icon-sm">
                                        <li><a data-rel="prettyPhoto" href="https://www.youtube.com/watch?v=36R2AoPFLmQ&feature=youtu.be"><i class="fa fa-arrows"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="gallery-bottom-part text-center">
                                <h4 class="title text-uppercase font-opensans font-weight-600 m-0">Video Adı Başlık</h4>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="work-gallery">
                            <div class="gallery-thumb">
                                <iframe width="290" height="180" src="https://www.youtube.com/embed/p49CuV5rq5s?ecver=1" frameborder="0" allowfullscreen></iframe>
                                <div class="gallery-overlay"></div>
                                <div class="gallery-contect">
                                    <ul class="styled-icons icon-bordered icon-circled icon-sm">
                                        <li><a data-rel="prettyPhoto" href="https://www.youtube.com/watch?v=p49CuV5rq5s&feature=youtu.be"><i class="fa fa-arrows"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="gallery-bottom-part text-center">
                                <h4 class="title text-uppercase font-opensans font-weight-600 m-0">Video Adı Başlık</h4>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="work-gallery">
                            <div class="gallery-thumb">
                                <iframe width="290" height="180" src="https://www.youtube.com/embed/gafQj5BgGaY?ecver=1" frameborder="0" allowfullscreen></iframe>
                                <div class="gallery-overlay"></div>
                                <div class="gallery-contect">
                                    <ul class="styled-icons icon-bordered icon-circled icon-sm">
                                        <li><a data-rel="prettyPhoto" href="https://www.youtube.com/watch?v=gafQj5BgGaY&feature=youtu.be"><i class="fa fa-arrows"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="gallery-bottom-part text-center">
                                <h4 class="title text-uppercase font-opensans font-weight-600 m-0">Video Adı Başlık</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Gallery Grid -->
            </div>
        </div>
    </div>



    <!-- Divider: Clients -->
    <section class="clients bg-theme-colored">
        <div class="container pt-10 pb-0 pt-sm-0 pb-sm-0">
            <div class="row">
                <div class="col-md-12">
                    <!-- Section: Clients -->
                    <div class="owl-carousel-6col transparent text-center owl-nav-top">
                        <div class="item"> <a href="#"><img src="~/Areas/Web/Content/files/ayarlar/biruni.png" alt=""></a></div>
                        <div class="item"> <a href="#"><img src="~/Areas/Web/Content/files/ayarlar/bogazici.png" alt=""></a></div>
                        <div class="item"> <a href="#"><img src="~/Areas/Web/Content/files/ayarlar/brüksel.png" alt=""></a></div>
                        <div class="item"> <a href="#"><img src="~/Areas/Web/Content/files/ayarlar/fatih.png" alt=""></a></div>
                        <div class="item"> <a href="#"><img src="~/Areas/Web/Content/files/ayarlar/gedik.png" alt=""></a></div>
                        <div class="item"> <a href="#"><img src="~/Areas/Web/Content/files/ayarlar/hacettepe.png" alt=""></a></div>
                        <div class="item"> <a href="#"><img src="~/Areas/Web/Content/files/ayarlar/itu.png" alt=""></a></div>
                        <div class="item"> <a href="#"><img src="~/Areas/Web/Content/files/ayarlar/kadirhas.png" alt=""></a></div>
                        <div class="item"> <a href="#"><img src="~/Areas/Web/Content/files/ayarlar/karatay.png" alt=""></a></div>
                        <div class="item"> <a href="#"><img src="~/Areas/Web/Content/files/ayarlar/kemerburgaz.png" alt=""></a></div>
                        <div class="item"> <a href="#"><img src="~/Areas/Web/Content/files/ayarlar/kırıkkale.png" alt=""></a></div>
                        <div class="item"> <a href="#"><img src="~/Areas/Web/Content/files/ayarlar/okan.png" alt=""></a></div>
                        <div class="item"> <a href="#"><img src="~/Areas/Web/Content/files/ayarlar/selcuk.png" alt=""></a></div>
                        <div class="item"> <a href="#"><img src="~/Areas/Web/Content/files/ayarlar/usak.png" alt=""></a></div>
                        <div class="item"> <a href="#"><img src="~/Areas/Web/Content/files/ayarlar/yildiz.png" alt=""></a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

